 /* CSS file for the Flask_WebApp.py, styling elements  */
body {
    background: #fafafa;
    color: #c24040;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  

  .bg-dark {
    background-color: #c24040 !important;
    border-color: #f3ef09;
    border-radius: 10px;
  }
  .navbar-dark .navbar-brand {
    color: #fdcc2c !important;
    font-weight: bold;
    font-family: 'American Typewriter', serif;
  }
  .site-header .navbar-nav .nav-link {
    color: #fdcc2c;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #9da59d;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .btn-outline-info {
    color: #c24040;
    background-color: transparent;
    background-image: none;
    border-color: #c24040;
  }

  .btn-outline-info:hover {
    color: #fdcc2c;
    background-color: #c24040;
    border-color: #fdcc2c;
  }
  
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 2px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #c24040;
  }
  
  a.article-title:hover {
    color: #fdcc2c;
    text-decoration: none;
  }

  a.mr-2 {
    color: #c24040;
  }
  
  .article-content {
    white-space: pre-line;
  }

  .content-section h3 {
    color: #c24040;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #fdcc2c;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }